#banner_accion {
    width: 100%;
    height: 250px;
    background-size: 100% 100%;
    background: url(../images/accion_banner.jpg) no-repeat center;
    background-size: 100% 100%;
}
#ts_top {
    
    width: 620px;
    height: 20px;
    background: url(../images/content_top.jpg) no-repeat;
}
#container {
 
    width: 560px;
    padding: 10px 20px 20px 40px;
    background: url(../images/content_body.png) repeat-y;
}
.accion_1{
    border-radius: 30px;
    width: 380px;
    height: 200px;
    margin-bottom: 10px;
    background: url(../images/extraction_1.jpg);
    background-size: cover
}
.accion_11{
    border-radius: 30px;
    float: right;
    
    width: 180px;
    height: 200px;
    background: url(../images/extraction_2.jpg) ;
    background-size: cover;
    margin: -208px 0px 0px 0px;

}
.accion_2 {
    border-radius: 30px;
    width: 270;
    height: 200;
    background: url(../images/spenser_confidential_1.jpg);
    background-size: cover;
}
.accion_22 {
    border-radius: 30px;
    float: right;
    margin: -200px 0px 0px 0px;
    width: 270px;
    height: 200px;
    background: url(../images/spenser_confidential_2.jpg);
    background-size: cover;
}
.accion_3 {
    border-radius: 30px;
    width: 270;
    height: 200;
    background: url(../images/parabellum_1.jpg);
    background-size: cover;
}
.accion_33 {
    border-radius: 30px;
    float: right;
    margin: -200px 0px 0px 0px;
    width: 270;
    height: 200;
    background: url(../images/parabellum_2.jpg);
    background-size: cover;
    
}
.caja_accion h3 {
    text-align: center;
    color: #6b4cc1;
}
.caja_accion p {
    text-align: center;
    color: #a5c0d8;;
}