#banner_anime {
    width: 100%;
    height: 250px;
    background-size: 100% 100%;
    background: url(../images/anime_banner.png) no-repeat center;
    background-size: 100% 100%;
}
#ts_top_1 { 
    
    width: 620px;
    height: 20px;
    background: url(../images/content_top.jpg) no-repeat;
}
#container_2{
    width: 560px;
    padding: 10px 20px 20px 40px;
    background: url(../images/content_body.png) repeat-y;
}

.anime_1{
    background: url(../images/digimon_1.jpg);
    border-radius: 30px;
    width: 142px;
    height: 200;
    background-size: contain;
}
.anime_11{
    border-radius: 30px;
    float: right;
    margin: -200px 0px 0px 0px;
    width: 400;
    height: 200;
    background: url(../images/digimon_2.jpg);
    background-size: cover
}
.anime_2{
    border-radius: 30px;
    width: 270;
    height: 200;
    background: url(../images/pokemon_1.jpg);
    background-size: cover;
}
.anime_22{
    border-radius: 30px;
    float: right;
    margin: -200px 0px 0px 0px;
    width: 270;
    height: 200;
    background: url(../images/pokemon_2.jpg);
    background-size: cover;
}
.anime_3{
    border-radius: 30px;
    width: 134px;
    height: 200;
    background: url(../images/pikachu_1.jpg);
    background-size: contain;
}
.anime_33{
    border-radius: 30px;
    float: right;
    margin: -200px 0px 0px 0px;
    width: 400;
    height: 200;
    background: url(../images/pikachu_2.jpg);
    background-size: cover;
}
.caja_anime h3{
    text-align: center;

}
.caja_anime p{
    text-align: center;
    color: #b5c331;
}