
#banner_comedia {
    width: 100%;
    height: 250px;
    background-size: 100% 100%;
    background: url(../images/comedia.jpg) no-repeat center;
    background-size: 100% 100%;
}
#ts_top {
    
    width: 620px;
    height: 20px;
    background: url(../images/content_top.jpg) no-repeat;
}
#container{
    width: 560px;
    padding: 10px 20px 20px 40px;
    background: url(../images/content_body.png) repeat-y;
}
.comedia_1{
    border-radius: 30px;
    border-radius: 30px;
    width: 270;
    height: 200;
    background: url(../images/murder_1.jpg);
    background-size: cover;
}
.comedia_11{
    border-radius: 30px;
    float: right;
    margin: -200px 0px 0px 0px;
    width: 270;
    height: 200;
    background: url(../images/murder_2.jpg);
    background-size: cover;
}.comedia_2{
    border-radius: 30px;
    width: 270;
    height: 200;
    background: url(../images/juegos_1.jpg);
    background-size: cover;
}
.comedia_22{
    border-radius: 30px;
    float: right;
    margin: -200px 0px 0px 0px;
    width: 270;
    height: 200;
    background: url(../images/juegos_2.jpg);
    background-size: cover;
}.comedia_3{
    border-radius: 30px;
    width: 270;
    height: 200;
    background: url(../images/atrapare_1.jpg);
    background-size: cover;
}
.comedia_33{
    border-radius: 30px;
    float: right;
    margin: -200px 70px 0px 0px;
    width: 133px;
    height: 200;
    background: url(../images/atrapare_2.jpg);
    background-size: contain;
}
.caja_comedia h3{
    text-align: center;
    color: #1490e5
}
.caja_comedia p{
    text-align: center;
    color: #08eb95
    ;
}