body {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    color: #000;
    background-color: #1d1c1b;
    background-image: url(../images/body.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
