
.gallery_img>img{
    display: block;
    width: 200px;
    margin-top: 56px;
    height: 200px;
    border-radius: 500px;
    padding: 15px;
    float: left;
}
#ts_top {
    
    width: 620px;
    height: 20px;
    background: url(../images/content_top.jpg) no-repeat;
}
div#content{
    color: #b222ff;
}