body {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    color: #000;
    background-color: #1d1c1b;
    background-image: url(../images/body.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
a:hover {
    text-decoration: underline;
}
#banner {
    width: 100%;
    height: 250px;
    background-size: 100% 100%;
    background: url(../images/banner.jpg) no-repeat center;
    background-size: 100% 100%;
}
#header {
    width: 940px;
    height: 250px;
    padding: 0 30px;
    margin: 0 auto;
}
#menu {
    clear: both;
    width: 940px;
    height: 10px;
}
#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu ul li {
    padding: 0;
    margin: 0;
    display: inline;
}
#menu ul li a {
    float: left;
    display: block;
    width: 100px;
    height: 30px;
    padding: 10px 0 0 0;
    color: #1aede4;
    font-size: 14px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    text-align: center;
}
#menu ul li a:hover {
    color: #1aede4;
    background: url(../images/hover.png) no-repeat bottom center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1aede4;
    font-weight: normal;
}
#main_principal {
    width: 940px;
    margin: 0 auto;
    clear: both;
}
#main {
    width: 940px;
    padding: 20px 0px;
    background: #000
}
#content {
    color: #c3c3c3;
    width: 650px;
    float: left;
}
#container {
    width: 560px;
    padding: 10px 20px 20px 40px;
    background: url(../images/content_body.png) repeat-y;
}
#tc_top {
    margin: -10px -40px;
    width: 620px;
    height: 20px;
    background: url(../images/content_top.jpg) no-repeat;
}
.post_box {
    clear: both;
    width: 560px;
    margin-bottom: 45px;
}
.post_header {
    width: 580px;
    height: 40px;
    margin: 0 0 10px -40px;
    padding: 0 0 0 15px;
    background: url(../images/post_header.png);
}
.date {
    float: left;
    display: block;
    width: 100px;
    font-size: 27px;
    font-weight: bold;
    margin: 0px;
    padding: 1px 0 0 11px;
    color: #efefef;
    text-shadow: 1px 1px 1px 1px #000;
}
.date span {
    font-size: 14px;
    text-shadow: none;
}
.hour {
    float: right;
    display: block;
    width: 440px;
    margin: 0;
}
.hour a {
    color: #19e7de
}
.post_box h2 {
    font-size: 33px;
    margin-bottom: 17px;
}
.post_box img {
    border-radius: 30px;
    width: 560px;
    height: 140px;
    margin-bottom: 10px;
}
.post_box p {
    color: #19e6dd;
}
#sidebar {
    width: 280px;
    float: right;
    margin-right: 0px;
    background: #171616;
}
#sidebar_top {
    width: 280px;
    height: 25px;
    background: url(../images/sidebar_top.jpg);
}
#container_sidebar {
    width: 260px;
    padding: 0;
}
.logo {
    width: 250px;
    height: 250px;
    padding: 0 15px 20px;
    margin-bottom: 30px;
    background: url(../images/divider.jpg) bottom repeat-x;
}
.sb_box {
    width: 240px;
    padding: 0 20px 20px;
    margin-bottom: 30px;
    background: url(../images/divider.jpg) bottom repeat-x;
}
.sb_box h3 {
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.list {
    margin: 0 0 0 10px;
    padding: 0;
    list-style: none;
}
.list li {
    margin: 0 0 0 10px;
    padding: 3px 3px 3px 3px;
    background: transparent url(../images/list.jpg) scroll 0 10px no-repeat;
}
.list li a {
    color: #15ee0e;
    margin-left: 15px;
    text-decoration:none ;
}
.recent_comment_box {
    padding: 0 0 0 15px;
    margin: 0 0 15px;
    border-bottom: 1px dashed #433d3a;
}
.recent_comment_box a {
    color: #ebae08;
    font-weight: bold;
    text-decoration: none
}
.recent_comment_box p {
    color: #1aede4;
}
#galeria1{
    color: #c5e60d;
}
#galeria2{
    color: #c5e60d;
}
#galeria3{
    color: #c5e60d;
}
.list{
    font-size: 20px;
}
