.banner_terror {
    width: 100%;
    height: 250px;
    background-size: 100% 100%;
    background: url(../images/terror_baner.jpg) no-repeat center;
    background-size: 100% 100%;
}
#ts_top {
    
    width: 620px;
    height: 20px;
    background: url(../images/content_top.jpg) no-repeat;
}
#container_1{
    width: 560px;
    padding: 10px 20px 20px 40px;
    background: url(../images/content_body.png) repeat-y;
}
.terror_1{
    border-radius: 30px;
    width: 270;
    height: 200;
    background: url(../images/legado_1.jpg);
    background-size: cover;
}
.terror_11{
    border-radius: 30px;
    float: right;
    margin: -200px 0px 0px 0px;
    width: 270;
    height: 200;
    background: url(../images/legado_2.jpg);
    background-size: cover;
}.terror_2{
    border-radius: 30px;
    width: 270;
    height: 200;
    background: url(../images/bruja_1.jpg);
    background-size: cover;
}
.terror_22{
    border-radius: 30px;
    float: right;
    margin: -200px 0px 0px 0px;
    width: 270;
    height: 200;
    background: url(../images/bruja_2.jpg);
    background-size: cover;
}.terror_3{
    border-radius: 30px;
    width: 270;
    height: 200;
    background: url(../images/silencio_1.jpg);
    background-size: cover;
}
.terror_33{
    border-radius: 30px;
    float: right;
    margin: -200px 0px 0px 0px;
    width: 270;
    height: 200;
    background: url(../images/silencio_2.jpg);
    background-size: cover;
}
.caja_terror h3{
    text-align: center;
    font-size: 25px;
    color: red;
    
}
.caja_terror p{
    text-align: center;
    color: #848493d4;

}
